'.text.html, .text.html.php, .source.php':
  'UIkit':
    'prefix': 'uk-accordion'
    'body': """
    <div class="uk-accordion" data-uk-accordion>
      <h3 class="uk-accordion-title">$1</h3>
      <div class="uk-accordion-content">
        <p>$2</p>
      </div>
    </div>
    """
'.source.jade':
  'UIkit':
    'prefix': 'uk-accordion'
    'body': """
    div.uk-accordion(data-uk-accordion="")>
      h3.uk-accordion-title $1
      div.uk-accordion-content
        p $2
    """
