'.text.html, .text.html.php, .source.php':
  'UIkit':
    'prefix': 'uk-article'
    'body': """
    <div class="uk-article">
      <h1 class="uk-article-title">$1</h1>
      <p class="uk-article-meta">$2</p>
      <p class="uk-article-lead">$3</p>
      <p>$4</p>
      <hr class="uk-article-divider">
      <p>$5</p>
    </div>
    """
'.source.jade,.source.pug':
  'UIkit':
    'prefix': 'uk-article'
    'body': """
    div.uk-article
      h1.uk-article-title $1
      p.uk-article-meta $2
      p.uk-article-lead $3
      p $4
      hr.uk-article-divider
      p $5
    """
