'.text.html, .text.html.php, .source.php':
  'UIkit':
    'prefix': 'uk-button-dropdown'
    'body': """
    <div class="uk-button-dropdown" data-uk-dropdown>
      <button class="uk-button">$1</button>
      <div class="uk-dropdown uk-dropdown-small">
        <ul class="uk-nav uk-nav-dropdown">
          <li><a href="$2">$3</a></li>
        </ul>
      </div>
    </div>
    """
'.source.jade,.source.pug':
  'UIkit':
    'prefix': 'uk-button-dropdown'
    'body': """
    div.uk-button-dropdown(data-uk-dropdown="")
      button.uk-button $1
      div.uk-dropdown.uk-dropdown-small
        ul.uk-nav.uk-nav-dropdown
          li
            a(href="$2") $3
    """
