'.text.html, .text.html.php, .source.php':
  'UIkit':
    'prefix': 'uk-button-group'
    'body': """
    <div class="uk-button-group">
      <button class="uk-button">$1</button>
      <button class="uk-button">$2</button>
    </div>
    """
'.source.jade,.source.pug':
  'UIkit':
    'prefix': 'uk-button-group'
    'body': """
    div.uk-button-group
      button.uk-button $1
      button.uk-button $2
    """
