'.text.html':
  'UIkit':
    'prefix': 'uk-dotnav'
    'body': """
    <ul class="uk-dotnav">
      <li class="uk-active"><a href="$1">$2</a></li>
      <li><a href="$3">$4</a></li>
    </ul>
    """
