'.text.html, .text.html.php, .source.php':
  'UIkit':
    'prefix': 'uk-dotnav'
    'body': """
    <ul class="uk-dotnav">
      <li class="uk-active"><a href="$1">$2</a></li>
      <li><a href="$3">$4</a></li>
    </ul>
    """
'.source.jade,.source.pug':
  'UIkit':
    'prefix': 'uk-dotnav'
    'body': """
    ul.uk-dotnav
      li.uk-active
        a(href="$1") $2
      li
        a(href="$3") $4
    """
