'.text.html, .text.html.php, .source.php':
  'UIkit':
    'prefix': 'uk-form-row'
    'body': """
    <div class="uk-form-row">
      <label class="uk-form-label" for="$1">$2</label>
      <div class="uk-form-controls">
        <input type="text" id="$1" placeholder="$2">
      </div>
    </div>
    """
'.source.jade,.source.pug':
  'UIkit':
    'prefix': 'uk-form-row'
    'body': """
    div.uk-form-row
      label.uk-form-label(for="$1") $2
      div.uk-form-controls
        input(type="text" id="$1" placeholder="$2")
    """
