'.text.html, .text.html.php, .source.php':
  'UIkit Form File':
    'prefix': 'uk-form-file'
    'body': """
    <div class="uk-form-file">
      <button class="uk-button">$1</button>
      <input type="file">
    </div>
    """
'.source.jade,.source.pug':
  'UIkit Form File':
    'prefix': 'uk-form-file'
    'body': """
    div.uk-form-file
      button.uk-button $1
      input(type="file")
    """
