'.text.html':
  'UIkit Form Password':
    'prefix': 'uk-form-password'
    'body': """
    <div class="uk-form-password">
      <input type="password">
      <a href="$1" class="uk-form-password-toggle" data-uk-form-password>$2</a>
    </div>
    """
