'.text.html, .text.html.php, .source.php':
  'UIkit':
    'prefix': 'uk-form-select'
    'body': """
    <div class="uk-form-select" data-uk-form-select>
      <span>$1</span>
      <select>
        <option value="$2">$3</option>
      </select>
    </div>
    """
'.source.jade,.source.pug':
  'UIkit':
    'prefix': 'uk-form-select'
    'body': """
    div.uk-form-select(data-uk-form-select="")
      span $1
      select
        option(value="$2") $3
    """
