'.text.html':
  'Accordion':
    'prefix': 'uk-form'
    'body': """
    <form class="uk-form">
      <div class="uk-form-row">
        <label class="uk-form-label" for="$1">$2</label>
        <div class="uk-form-controls">
          <input type="text" id="$1" placeholder="$2">
        </div>
      </div>
    </form>
    """
