'.text.html':
  'UIkit Form File':
    'prefix': 'uk-form-file'
    'body': """
    <div class="uk-form-file">
      <button class="uk-button">$1</button>
      <input type="file">
    </div>
    """
