'.text.html':
  'UIkit':
    'prefix': 'uk-grid-divider'
    'body': """
    <div class="uk-grid uk-grid-divider">
      <div class="uk-width-1-2">$1</div>
      <div class="uk-width-1-2">$2</div>
    </div>
    <hr class="uk-grid-divider">
    <div class="uk-grid uk-grid-divider">
      <div class="uk-width-1-2">$3</div>
      <div class="uk-width-1-2">$4</div>
    </div>
    """
