'.text.html, .text.html.php, .source.php':
  'UIkit':
    'prefix': 'uk-grid'
    'body': """
    <div class="uk-grid">
      <div class="uk-width-1-2">$1</div>
      <div class="uk-width-1-2">$2</div>
    </div>
    """
'.source.jade,.source.pug':
  'UIkit':
    'prefix': 'uk-grid'
    'body': """
    div.uk-grid
      div.uk-width-1-2 $1
      div.uk-width-1-2 $2
    """
