'.text.html, .text.html.php, .source.php':
  'UIkit':
    'prefix': 'uk-pagination'
    'body': """
    <ul class="uk-pagination">
      <li class="uk-active"><span>$1</span></li>
      <li><a href="$2">$3</a></li>
    </ul>
    """
'.source.jade,.source.pug':
  'UIkit':
    'prefix': 'uk-pagination'
    'body': """
    ul.uk-pagination
      li.uk-active
        span $1
      li
        a(href="$2") $3
    """
