'.text.html, .text.html.php, .source.php':
  'UIkit':
    'prefix': 'uk-progress'
    'body': """
    <div class="uk-progress">
      <div class="uk-progress-bar" style="width: ${1:100}%;">$2</div>
    </div>
    """
'.source.jade':
  'UIkit':
    'prefix': 'uk-progress'
    'body': """
    div.uk-progress
      div.uk-progress-bar(style="width: ${1:100}%;") $2
    """
