'.text.html, .text.html.php, .source.php':
  'UIkit':
    'prefix': 'uk-panel'
    'body': """
    <div class="uk-panel">
      <div class="uk-panel-badge uk-badge">$1</div>
      <h3 class="uk-panel-title">$2</h3>
      <p>$3</p>
    </div>
    """
'.source.jade':
  'UIkit':
    'prefix': 'uk-panel'
    'body': """
    div.uk-panel
      div.uk-panel-badge.uk-badge $1
      h3.uk-panel-title $2
      p $3
    """
