'.text.html, .text.html.php, .source.php':
  'UIkit':
    'prefix': 'uk-subnav'
    'body': """
    <ul class="uk-subnav">
      <li><a href="$1">$2</a></li>
    </ul>
    """
'.source.jade,.source.pug':
  'UIkit':
    'prefix': 'uk-subnav'
    'body': """
    ul.uk-subnav
      li
        a(href="$1") $2
    """
