'.text.html, .text.html.php, .source.php':
  'UIkit':
    'prefix': 'uk-search'
    'body': """
    <form class="uk-search" data-uk-search>
      <input class="uk-search-field" type="search" placeholder="$1">
    </form>
    """
'.source.jade':
  'UIkit':
    'prefix': 'uk-search'
    'body': """
    form.uk-search(data-uk-search="")
      input.uk-search-field(type="search" placeholder="$1")
    """
