'.text.html':
  'Accordion':
    'prefix': 'uk-thumbnail'
    'body': """
    <figure class="uk-thumbnail">
      <img src="$1" alt="$2">
      <figcaption class="uk-thumbnail-caption">$3</figcaption>
    </figure>
    """
