'.text.html, .text.html.php, .source.php':
  'UIkit':
    'prefix': 'uk-tab'
    'body': """
    <ul class="uk-tab" data-uk-tab>
      <li class="uk-active"><a href="$1">$2</a></li>
      <li><a href="$3">$4</a></li>
    </ul>
    """
'.source.jade':
  'UIkit':
    'prefix': 'uk-tab'
    'body': """
    ul.uk-tab(data-uk-tab="")
      li.uk-active
        a(href="$1") $2
      li
        a(href="$3") $4
    """
