'.text.html':
  'Accordion':
    'prefix': 'uk-thumbnav'
    'body': """
    <ul class="uk-thumbnav">
      <li class="uk-active"><a href="$1">$2</a></li>
      <li><a href="$3">$4</a></li>
    </ul>
    """
